* {
  font-family: Gothic A1,-apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
	margin: 0;
	padding: 0
}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	font: 400 16px/1.5 Georgia, Times, "Times New Roman", serif;
	color: #073642;
	background-color: #fdf6e3;
	-webkit-text-size-adjust: 100%;
}

/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
	margin-bottom: 15px
}

img {
	max-width: 100%;
	vertical-align: middle
}

figure>img {
	display: block
}

figcaption {
	font-size: 14px
}

ul,
ol {
	margin-left: 50px
}

li>ul,
li>ol {
	margin-bottom: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400
}

a {
	color: #268bd2;
	text-decoration: none;
}


a:hover {
	color: #073642;
	text-decoration: none;
}

blockquote {
	color: #828282;
	border-left: 4px solid #c2c2c2;
	padding-left: 15px;
	font-size: 18px;
	letter-spacing: -1px;
	font-style: italic
}

blockquote>:last-child {
	margin-bottom: 0
}

pre,
code {
	font-size: 15px;
	border: 1px solid #586e75;
	border-radius: 3px;
	background-color: #eee8d5
}

code {
	padding: 1px 5px
}

pre {
	padding: 8px 12px;
	overflow-x: auto
}

pre>code {
	border: 0;
	padding-right: 0;
	padding-left: 0
}

.side-nav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.side-nav a {

  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.wrapper {
	max-width: -webkit-calc(1000px - (30px * 2));
	max-width: calc(1000px - (30px * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}

@media screen and (max-width: 800px) {
	.wrapper {
		max-width: -webkit-calc(1000px - (30px));
		max-width: calc(1000px - (30px));
		padding-right: 15px;
		padding-left: 15px
	}
}


.icon>svg {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle
}

.icon>svg path {
	fill: #828282
}

.site-header {
	border-top: 5px solid #424242;
	border-bottom: 1px solid #c2c2c2;
	min-height: 50px;
	position: fixed;
	height: 50px;
	min-width: 100%;
	background-color: #fdf6e3;
	/*background-color: #274472; dark*/
	z-index: 100;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.site-title {
	font-size: 18px;
	font-weight: 300;
	line-height: 56px;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;
	color: black;
}

.side-nav {
	margin-top: 40px;
	float: right;
	line-height: 56px
}


.footer-heading {
	font-size: 18px;
	margin-bottom: 15px
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0
}

.footer-col-wrapper {
	font-size: 15px;
	color: #828282;
	margin-left: -15px
}

.footer-col {
	float: left;
	margin-bottom: 15px;
	padding-left: 15px
}

.footer-col-1 {
	width: -webkit-calc(35% - (30px / 2));
	width: calc(35% - (30px / 2))
}

.footer-col-2 {
	width: -webkit-calc(20% - (30px / 2));
	width: calc(20% - (30px / 2))
}

.footer-col-3 {
	width: -webkit-calc(45% - (30px / 2));
	width: calc(45% - (30px / 2))
}

@media screen and (max-width: 800px) {
	.footer-col-1,
	.footer-col-2 {
		width: -webkit-calc(50% - (30px / 2));
		width: calc(50% - (30px / 2))
	}
	.footer-col-3 {
		width: -webkit-calc(100% - (30px / 2));
		width: calc(100% - (30px / 2))
	}
}

@media screen and (max-width: 600px) {
	.footer-col {
		float: none;
		width: -webkit-calc(100% - (30px / 2));
		width: calc(100% - (30px / 2))
	}
}

.home {
	margin-top: 50px;
}

.post-article {
	margin-top: 50px;
}

.page-content {
	margin-top: 80px;
}

main {
}

.page-heading {
	font-size: 20px;
}

.post-list {
	margin-left: 0;
	list-style: none;
}

.post-list>li {
	margin-bottom: 30px;
}

.post-meta {
	font-size: 14px;
	color: #828282;
}

.post-link {
	display: block;
	font-size: 24px
}

.post-header {
	margin-bottom: 30px
}

.post-title {
	font-size: 42px;
	letter-spacing: -1px;
	line-height: 1
}

@media screen and (max-width: 800px) {
	.post-title {
		font-size: 36px
	}
}

.post-content {
	margin-bottom: 30px
}

.post-content h2 {
	font-size: 32px
}

@media screen and (max-width: 800px) {
	.post-content h2 {
		font-size: 28px
	}
}

.post-content h3 {
	font-size: 26px
}

@media screen and (max-width: 800px) {
	.post-content h3 {
		font-size: 22px
	}
}

.post-content h4 {
	font-size: 20px
}

@media screen and (max-width: 800px) {
	.post-content h4 {
		font-size: 18px
	}
}



/* Apply specific style features */
.mainContent {
	padding: 5%;
}


.v1 { min-height: 30vh }
.v2 {
	border-radius: 0px 0px 10px 10px;
	min-width: 500px;
	background: #7395a3; /* #202022;*/
	padding: 10px 30px 30px 30px;
	cursor: pointer;
	align-items: right;
	margin: 0% 0% 3% 0%;
	color: white;
	max-height: 10vh;
}

.v2 > article p, h1, h2 {
	padding: 3px;
	border-radius: 3px;
}
.v2 > h1 { font-size: 25px; }
.v2 > h2 {
	font-size: 17px;
	margin-top: 10px;
}

.frost {	
	border-radius: 10px 10px 0px 0px;
	height: 20px;
	min-width: 250px;
	width: 250px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
	background-color: rgba(255, 255, 255, .15);
	backdrop-filter: blur(2px);
}

.blurred {
	height: relative;
	min-width: 500px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
	background-color: rgba(0, 0, 0, .8);
	backdrop-filter: blur(2px);
}

.imageBui {
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fix {
    position:fixed;
    bottom:0px;
    min-width: 30%;
	z-index: -1;
}

